<!--Currently this is the only page where the default layout just doesn't happen.-->
<table class="table table-bordered table-striped">
    <thead>
        <th>name</th>
        <th>desc</th>
        <th>level</th>
        <th>ritual? </th>
        <th>casting time</th>
        <th>range</th>
    </thead>
    <tbody>
        <% for(s of spells){%> 
            <tr> 
                <td> <%= s.name %> </td> 
                <td> <%= s.desc %> </td> 
                <td> <%= s.level %> </td>
                <td> <%= s.ritual %> </td>
                <td> <%= s.casting_time %> </td>
                <td> <%= s.range %> </td>


            </tr>
        <% } %>
    </tbody>
</table>